.form {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 650px
  }
  th {
    background-color: #1589FF;
    color: white;
    width: fit-content;
}
td {

    color: black;

}